.s-text {
  font-size: 18px;
}

.slogan {
  color: #FB7B58;
}

.bracket {
  font-weight: 100;
}

.card {
  border-radius: 0px  !important;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0px !important;
}

.card-img {
  border-radius: 0px !important;
  object-fit: cover;
  height: 20rem;
}

.create-post{
  background-color: #FB7B58 !important;
  color: white !important;
  /*put in the bottom right corner*/
  position: absolute !important;
  right: 20px !important;
  top: 150px !important;
  
}